---
layout: default
---
<div class="row align-items-center justify-content-center" style="height:90vh;  background-repeat: no-repeat; background-position: center; background-size: 90vh; background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url('assets/img/favicon.png');">
  <div class="border border-warning rounded p-4">
    <h1 class="display-4 text-center"><b>GNU/Linux Users Group</b></h1><hr>
    <h4 class="text-center"><b>P.E.S College of Engineering, Mandya</b></h4>   
  </div>
  
  <div class="border border-warning rounded p-3">
    <h2 class="display-4 text-center"><b>Online WEBATHON</b></h2><hr>
    <center><a href="glugpesce.github.io/webathon.html" ><button>REGISTER Here !!!!</button></a></center>
  </div>
</div>

<h2>Recent Activities</h2>
{% include recent.html %}

<h2>Upcoming Activities</h2>
{% include upcoming.html %}
