<div class="list-group mb-4">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Design WebApp + Git Workshop</h5>
      <small class="text-muted">30 & 31 October, 2019</small>
    </div>
    <p class="mb-1">A two day Workshop dealt with Python Flask and Git</p>
    <small class="text-muted"></small>
  </a>

  <a href="/event/gimp-workshop/" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Localisation & Dexterous</h5>
      <small class="text-muted">3 November, 2019</small>
    </div>
    <p class="mb-1">Contributing to local language and Gimp Competition</p>
    <small class="text-muted"></small>
  </a>

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">GIMP Workshop</h5>
      <small class="text-muted">19 October, 2019</small>
    </div>
    <p class="mb-1">a mega Workshop</p>
    <small class="text-muted"></small>
  </a>

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">OSM Mapping Party</h5>
      <small class="text-muted">7 September, 2019</small>
    </div>
    <p class="mb-1">Workshop conducted by Void SpaceXYZ</p>
    <small class="text-muted"></small>
  </a>

</div>
