<div class="list-group mb-4">
  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">WEB Design</h5>
      <small class="text-muted">8, February 2020</small>
    </div>
    <p class="mb-1">HTML5 - CSS3 - Project Ideation</p>
    <small class="text-muted"></small>
  </span>

  <span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Something on JS!!!! Wait for it folks :)</h5>
      <small class="text-muted"></small> -->
    </div>
    <p class="mb-1"></p>
    <small class="text-muted"></small>
  </span>

  <!--span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Session on Git</h5>
      <small class="text-muted"></small>
    </div>
    <!--p class="mb-1">Introduction to version control systems using Git</p>
    <small class="text-muted"></small>
  </span>

  <!--span class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Localization</h5>
      <small class="text-muted"></small>
    </div>
    <!--p class="mb-1">Getting started with localization of Free Software and delving deep into the philosophical aspects of Software Freedom and Privacy</p>
    <!-- <small class="text-muted"></small> 
  </span> -->

</div>
